.topnav input[type=text] {
    /* padding: 6px;
    padding-right: 30%;
    border: black;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px; */
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: black;
    width: 500px;
    margin: 5px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.topnav input[type=text]:focus{
  width: 200px;
}
.searchBottom a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .searchBottom a.active {
    background-color: #2196F3;
    color: white;
  }

  .searchBottom a {
    float: left; 
  
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   
  
  } 
  .searchBottom {
    overflow: hidden;
    background-color: #e9e9e9;
  }