body{
     font-family: Arial, Helvetica, sans-serif ;
     background-color: antiquewhite;} 

h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;}

img{ 
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;} 

h3{ 
    margin-top: 20px;
    font-weight: bold;
    text-align: right;} 

p{
     margin: 10px;
    text-align:justify;}

h2{
    margin-top: 30px;}
