.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body {
    font-family: Helvetica;
  }


a {
    text-decoration: none;
} 

a:hover {
    text-decoration: underline;
} 

label, #rInput {
    font-size: 14px;
    padding: 7px 28px 7px 28px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    width: 100%
  }

table {
    border-collapse: collapse;
  }

th, td{
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 12px;
}

#imgColumn{
    width: 220px;
}

#recipeColumn{
    width: 440px;
}

th {
    cursor: pointer;
}
